* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #e9f1fa;
}

header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 80%;
  margin-inline: auto;
}

.navbar {
  padding: 20px 0 20px 0;
  position: fixed;
  width: 100%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  z-index: 9999;
}

.navbar.scrolling-active {
  background-color: #0c1c62;
  padding: 30px 0 30px 0;
}

.navbar .box-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .box-navbar .logo h1 {
  color: black;
  font-size: 24px;
}

.navbar .box-navbar .menu {
  display: flex;
  column-gap: 20px;
}

.navbar .box-navbar .menu li {
  list-style-type: none;
}

.navbar .box-navbar .menu li a {
  text-decoration: none;
  color: black;
  padding: 10px 15px 10px 15px;
}

.navbar .box-navbar .menu .active a {
  border-bottom: 3px solid;
}

.navbar .box-navbar .menu li a:hover {
  border-bottom: 3px solid;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.menu-bar {
  color: white;
  font-size: 24px;
  display: none;
}
  
  main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  section {
    padding: 100px;
    text-align: left;
    margin-left: 100px;
    max-width: 1000px;
    font-size: 24px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 0 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card.active {
    border: 2px solid #2c3e50;
  }
  
  .card a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card span {
    font-size: 48px;
  }
  
  footer {
    text-align: center;
    margin-top: 50px;
  }
  
  footer a {
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
  footer a:hover {
    background-color: #0C1C62;
    padding: 10px;
    color: #fff;
  }
  